
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cosmetic Store</title>
<meta name="Description" content="Model blog" />
<meta name="#" content="#" />
<style type="text/css"> 
<!-- 
@import"welcome.css";
--> 
</style>
</head>
<body class="wrapper">
<!-- container -->
<div id="container">
<!-- menu --> 
    <ul id="menu">
        <li class="current"><a href="home.html" title="Home">Home</a></li>
        <li><a href="#" title="About Us ">About Us</a></li>
        <li><a href="#" title="About Us ">Partners</a></li>
        <li><a href="#" title="Contact Us ">Contact Us</a></li>
    </ul>
     <!-- header -->
    <div id="header"></div>
    <!-- / header -->
    <span class="clearfloat"></span>
    <!-- sidebar1 -->   
    <div id="sidebar1"> 
        <h2>Category</h2>
        <ul id="submenu">
            <li><a href="#">Lorem ipsum set amet</a></li>
            <li><a href="#">Lorem ipsum set amet</a></li>
            <li><a href="#">Lorem ipsum set amet</a></li>   
        </ul>
        <h2>Todays Special</h2>
        <div class="product1"><img src="images/product.jpg" /></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elilibero. </p>
        <p class="price">Price: <span class="red">$50.25</span></p>
    </div><div class="inner_copy"></div>
 <!-- maincontent -->
    <div id="mainContent">
        <div class="box">
            <div class="product"><img src="images/product.jpg" /></div>
            <h3>lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elilibero. </p>
            <p class="price">Price: <span class="red">$50.25</span></p>
            <div><a href="#"><img src="images/details.gif" border="0" /></a> <a href="#"><img src="images/addtocart.gif" border="0" /></a></div>
            <div class="clearfloat"></div>
        </div>
        <div class="box">
            <div class="product"><img src="images/product.jpg" /></div>
            <h3>lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elilibero. </p>
            <p class="price">Price: <span class="red">$50.25</span></p>
            <div><a href="#"><img src="images/details.gif" border="0" /></a> <a href="#"><img src="images/addtocart.gif" border="0" /></a></div>
            <div class="clearfloat"></div>
        </div>
        <div class="box">
            <div class="product"><img src="images/product.jpg" /></div>
            <h3>lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elilibero. </p>
            <p class="price">Price: <span class="red">$50.25</span></p>
            <div><a href="#"><img src="images/details.gif" border="0" /></a> <a href="#"><img src="images/addtocart.gif" border="0" /></a></div>
            <div class="clearfloat"></div>
        </div>
            <div class="box">
            <div class="product"><img src="images/product.jpg" /></div>
            <h3>lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elilibero. </p>
            <p class="price">Price: <span class="red">$50.25</span></p>
            <div><a href="#"><img src="images/details.gif" border="0" /></a> <a href="#"><img src="images/addtocart.gif" border="0" /></a></div>
            <div class="clearfloat"></div>
        </div>
    </div>
    <br class="clearfloat" />
    <!-- footer -->
    <div id="footer">
        <center>
    <div class="fleft">Copyright Statement</div>
    <div class="fright">Design by <a href="http://www.dreamtemplatestudio.com/">Dreamtemplatestudio</a></div>
    Professional free web templates <a href="http://www.websitetemplatesonline.com" target="_blank">at www.websitetemplatesonline.com</a>. <a href="http://www.getjoomlatemplatesfree.com/" title="Joomla themes">Get Joomla Templates Free.com</a> - free Joomla templates.
    </div class="fclear"></div>
</center>

    </div>
</div>
</body>
</html>